﻿<div id="vjs-container" style="top: -1px; bottom: -1px;">
    <div id="vjs-header" class="vjs-header-no-shadow"><div id="vjs-header-jobinfo"><div id="vjs-jobinfo"><div id="vjs-jobtitle">{{jobTitle}}</div><div><span id="vjs-cn">{{vfvm.jobSource}}</span><span id="vjs-loc"> - {{jobLocation}}</span></div></div></div><div id="vjs-x"><a class="icl-CloseButton vjs-x-button-close" title="Close"><svg role="img" class="icl-Icon icl-Icon--sm  icl-Icon--black close" aria-label="Close"><g><path d="M14.53,4.53L13.47,3.47,9,7.94,4.53,3.47,3.47,4.53,7.94,9,3.47,13.47l1.06,1.06L9,10.06l4.47,4.47,1.06-1.06L10.06,9Z"></path></g></svg></a><a id="vjnewtab" title="Open in new tab" rel="noopener" target="_blank" href="/viewjob?jk=8da6210d9fa44e7f&amp;tk=1d2lg0tbpaf16800&amp;from=vjnewtab">&nbsp;</a></div><div id="apply-button-container"><div class="job-footer-button-row"><a href="/rc/clk?jk=8da6210d9fa44e7f&amp;from=vj&amp;pos=bottom" target="_blank" rel="noopener noreferrer" class="view-apply-button blue-button" onmousedown="return vjrclk('8da6210d9fa44e7f','','',false, '','1d2lg0tbpaf16800', '1d2l1q60k20es003');" onclick="updateResumePromoCookie(event);updateApplyStartTimestamp();return vjrclk('8da6210d9fa44e7f','','',true, '','1d2lg0tbpaf16800', '1d2l1q60k20es003');" data-jk="8da6210d9fa44e7f">Apply on company site</a><span id="state-picker-container" class="dd-wrapper"><button class="state-picker-button"><span class="state-picker-text  icl-u-xs-hide">Save this job</span><span class="state-picker-icon  icl-u-xs-inlineBlock"><svg role="img" class="icl-Icon icl-Icon--md icl-Icon--left icl-Icon--blue favorite-border"><g><path d="M16.5,3A6,6,0,0,0,12,5.09,6,6,0,0,0,7.5,3,5.45,5.45,0,0,0,2,8.5C2,12.28,5.4,15.36,10.55,20L12,21.35,13.45,20C18.6,15.36,22,12.28,22,8.5A5.45,5.45,0,0,0,16.5,3ZM12.1,18.55l-0.1.1-0.1-.1C7.14,14.24,4,11.39,4,8.5A3.42,3.42,0,0,1,7.5,5a3.91,3.91,0,0,1,3.57,2.36h1.87A3.88,3.88,0,0,1,16.5,5,3.42,3.42,0,0,1,20,8.5C20,11.39,16.86,14.24,12.1,18.55Z"></path></g></svg></span></button></span></div><div id="state-picker-info-container"></div></div><a id="vjs-back-to-results" onclick="indeedApplyResetTwoPaneApply();"><svg role="img" class="icl-Icon icl-Icon--md icl-Icon--left icl-Icon--inheritColor chevron-left"><g><path d="M15.41,7.41L14,6,8,12l6,6,1.41-1.41L10.83,12Z"></path></g></svg><span class="vjs-back-to-results-cta">Back to search results</span></a></div><div id="vjs-content">
        <div id="vjs-tab-job" data-tab-bind="job">
            <div id="vjs-desc">
                <div>
                    <p>Qualifications:</p><ul>
                        <li>Design, develop, test, debug and support new features or enhancements to existing and new applications (i.e SharePoint, AMS, other Cloud Based Technologies).</li>
                        <li>Be willing to train on other systems (ie. SAP HANA) as needed to support corporate structure.</li>
                        <li>Document all work through code comments, programmer’s manuals, user guides, and or regular status reports.</li>
                        <li>Identify and report software problems using best industry practices.</li>
                        <li>Exhibit strong knowledge or Web-related technologies and techniques</li>
                        <li>Works on projects including web-based applications, website enhancements, desktop applications, database-backed websites and web layout enhancements.</li>
                        <li>Develop prototypes and mock-ups for feedback.</li>
                        <li>Knowledge of system integration and application interface design issues</li>
                        <li>Understanding of database analytical tools, network architecture and protocols, security risks and security policies.</li>
                        <li>Understanding of data management in respect to availability, integrity and security is required.</li>
                        <li>Take initiative to solve problems and overcome roadblocks. Result-oriented individual</li>
                        <li>Maintaining a hands-on role to ensure deadlines are met and key deliverables are always accurate.</li>
                        <li>Some travel will be required.</li>
                    </ul>
                </div><p></p>
                <br>
                <ul>
                    <li>2-5 years of experience with a Bachelor’s degree in Computer Science, Software Development &amp; Security</li>
                    <li>Database experience with MySQL, SQL</li>
                    <li>Experience with web application development (Java, JavaScript, HTML, CSS and Ruby) and web server experience (Preferred)</li>
                    <li>SharePoint administration is a plus</li>
                    <li>Experience in Agile Model methodologies is highly referred</li>
                </ul>
            </div><div id="vjs-footer"><div id="info-link-row"><span class="date">hace 11 días</span></div></div>
        </div><div id="vjs-tab-company" data-tab-bind="company" style="display: none;"></div><div id="vjs-tab-insights" data-tab-bind="insights" style="display: none;"></div>
    </div>
    <!--<script>if (!window['result_8da6210d9fa44e7f']) {window['result_8da6210d9fa44e7f'] = {};}window['result_8da6210d9fa44e7f']['myJobsState'] = "UNSAVED";window['result_8da6210d9fa44e7f']['stateChangeRelativeTime'] = "hace 11 días";window['result_8da6210d9fa44e7f']['jobKey'] = "8da6210d9fa44e7f";</script>-->
    <!--<script type="text/javascript">call_when_jsall_loaded(function() {window['statePicker'] = new StatePicker('state-picker-container', 'state-picker-info-container', '8da6210d9fa44e7f', 'UNSAVED',{'tk': '1d2lg0tbpaf16800', 'client': 'jasx', 'originPage': 'viewjob'},false, 4);});</script>-->
</div>